# dependencies
/node_modules

# production
/build

# npm lockfile (since we use yarn)
/package-lock.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
